@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
body {
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url(https://github.com/Katja721/clipboard-landing-page/blob/main/images/bg-header-desktop.png?raw=true);
  background-repeat: no-repeat;
  margin: 11rem 0rem 0rem 0rem;
}
h1 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}
h2 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}
h3 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}
p {
  color: hsl(201, 11%, 66%);
  font-weight: 400;
}
section {
  margin-bottom: 8rem;
}
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo"
    "heading"
    "buttons";
  justify-items: center;
  text-align: center;
}
header button {
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 0.8rem 2rem;
  margin-right: 1rem;
}
button.ios {
  border-top: 0px;
  border-left: 0;
  border-right: 0;
  background-color: hsl(171, 66%, 44%);
  border-bottom: 3px solid hsl(171, 66%, 36%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
button.ios:hover {
  box-shadow: 0px 10px 21px 0px hsla(171, 66%, 44%, 0.13);
  cursor: pointer;
}
button.mac {
  border-top: 0px;
  border-left: 0;
  border-right: 0;
  background-color: hsl(233, 100%, 69%);
  border-bottom: 3px solid hsl(233, 46%, 49%);

  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
button.mac:hover {
  box-shadow: 0px 10px 21px 0px hsl(233, 100%, 69%, 0.13);
  cursor: pointer;
}

.logo {
  grid-area: logo;
}

.heading {
  grid-area: heading;
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
}
.part-one {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "heading1"
    "image-paragraphs";
  margin: 0rem 10rem 8rem 0rem;
}

.heading1 {
  justify-self: center;
  text-align: center;
  grid-area: heading1;
  margin-left: 20rem;
}

.image-paragraphs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 65px;
  grid-auto-flow: row;
  grid-template-areas:
    "image1 image1 paragraph1-1"
    "image1 image1 pargraph1-2"
    "image1 image1 paragraph1-3";
  grid-area: image-paragraphs;
}

.image1 {
  grid-area: image1;
  margin-left: -2rem;
}

.paragraph1-1 {
  grid-area: paragraph1-1;
}

.pargraph1-2 {
  grid-area: pargraph1-2;
}

.paragraph1-3 {
  grid-area: paragraph1-3;
}
.part-two {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.3fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  text-align: center;
  grid-template-areas:
    "heading2"
    "image2";
  margin-bottom: 2rem;
}

.heading2 {
  grid-area: heading2;
}

.image2 {
  grid-area: image2;
}
.part-three {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 80px 0px;
  grid-auto-flow: row;
  text-align: center;
  grid-template-areas:
    "heading3"
    "features"
    "companies";
}

.heading3 {
  justify-self: center;
  align-self: center;
  grid-area: heading3;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 40px;
  grid-auto-flow: row;
  grid-template-areas: "blacklists snippets preview";
  grid-area: features;
}

.blacklists {
  justify-self: center;
  align-self: center;
  grid-area: blacklists;
}

.snippets {
  justify-self: center;
  align-self: center;
  grid-area: snippets;
}

.preview {
  justify-self: center;
  align-self: center;
  grid-area: preview;
}

.companies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "google ibm microsoft hpe vr";
  align-self: center;
  grid-area: companies;
}

.google {
  grid-area: google;
}

.ibm {
  grid-area: ibm;
}

.microsoft {
  grid-area: microsoft;
}

.hpe {
  grid-area: hpe;
}

.vr {
  grid-area: vr;
}
.part-four {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  text-align: center;
  grid-template-areas:
    "heading4"
    "paragraph4"
    "buttons2";
}

.heading4 {
  grid-area: heading4;
}

.paragraph4 {
  grid-area: paragraph4;
}

.buttons2 {
  grid-area: buttons2;
}
.part-four button {
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 0.8rem 2rem;
  margin-right: 1rem;
}
ion-icon {
  font-size: 1.5em;
}
footer {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "logo links social";
  align-items: center;
  background-color: hsla(201, 11%, 66%, 0.2);
  font-weight: 600;
}
footer p:hover {
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}
footer ion-icon:hover {
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}
.logo {
  grid-area: logo;
}
.logo-footer {
  transform: scale(0.5);
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "faq privacy install"
    "contact press .";
  grid-area: links;
}

.faq {
  grid-area: faq;
}

.contact {
  grid-area: contact;
}

.privacy {
  grid-area: privacy;
}

.press {
  grid-area: press;
}

.install {
  grid-area: install;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "fb twitter ig"
    ". . .";
  grid-area: social;
}

.fb {
  grid-area: fb;
}

.twitter {
  grid-area: twitter;
}

.ig {
  grid-area: ig;
}

@media only screen and (max-width: 400px) and (min-width: 300px) {
  body {
    background-image: url(/images/bg-header-mobile.png);
    margin: 3rem 0rem 0rem 0rem;
    font-size: 18px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .buttons button {
    margin-bottom: 1.3rem;
  }
  header {
    margin: 1rem;
    grid-template-rows: 0.5fr 1fr 0.6fr;
  }
  .part-one {
    grid-template-rows: 0.5fr 1fr;
    margin: 0;
    text-align: center;
    margin: 1rem;
  }
  .heading1 {
    grid-area: heading1;
    margin-left: 0;
  }

  .image-paragraphs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr 0.7fr 0.7fr;
    gap: 0px 0px;
    grid-template-areas: "image1" "paragraph1-1" "pargraph1-2" "paragraph1-3";
  }

  .image1 {
    grid-area: image1;
    margin-left: 0;
  }
  .part-one img {
    width: 100%;
  }

  .part-two {
    margin: 1rem;
  }
  .part-two img {
    width: 100%;
  }
  .part-three {
    grid-template-rows: 0.4fr 1fr 1fr;
    gap: 0px 0px;
    margin: 1rem;
  }

  .features {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "snippets" "blacklists" "preview";
  }

  .companies {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px 0px;
    grid-template-areas: "google" "ibm" "microsoft" "hpe" "vg";
  }

  .part-four {
    margin: 1rem;
  }
  .part-four button {
    margin-bottom: 1.3rem;
  }

  footer {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    text-align: center;
    grid-template-areas: "logo" "links" "social";
  }

  .links {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "faq" "contact" "privacy" "press" "install";
  }

  .social {
    grid-template-rows: 1fr;
    align-items: center;
    grid-template-areas: "fb twitter ig";
  }
}
ion-icon {
  margin-right: 1.5rem;
}
@media only screen and (max-width: 500px) and (min-width: 401px) {
  body {
    background-size: contain;
    background-image: url(/images/bg-header-mobile.png);
    margin: 3rem 0rem 0rem 0rem;
    font-size: 18px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .buttons button {
    margin-bottom: 1.3rem;
  }
  header {
    margin: 1rem;
    grid-template-rows: 0.5fr 1fr 0.6fr;
  }
  .part-one {
    grid-template-rows: 0.5fr 1fr;
    margin: 0;
    text-align: center;
    margin: 1rem;
  }
  .heading1 {
    grid-area: heading1;
    margin-left: 0;
  }

  .image-paragraphs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr 0.7fr 0.7fr;
    gap: 0px 0px;
    grid-template-areas: "image1" "paragraph1-1" "pargraph1-2" "paragraph1-3";
  }

  .image1 {
    grid-area: image1;
    margin-left: 0;
  }
  .part-one img {
    width: 100%;
  }

  .part-two {
    margin: 1rem;
  }
  .part-two img {
    width: 100%;
  }
  .part-three {
    grid-template-rows: 0.4fr 1fr 1fr;
    gap: 0px 0px;
    margin: 1rem;
  }

  .features {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "snippets" "blacklists" "preview";
  }

  .companies {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px 0px;
    grid-template-areas: "google" "ibm" "microsoft" "hpe" "vg";
  }

  .part-four {
    margin: 1rem;
  }
  .part-four button {
    margin-bottom: 1.3rem;
  }

  footer {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    text-align: center;
    grid-template-areas: "logo" "links" "social";
  }

  .links {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "faq" "contact" "privacy" "press" "install";
  }

  .social {
    grid-template-rows: 1fr;
    align-items: center;
    grid-template-areas: "fb twitter ig";
  }
}
ion-icon {
  margin-right: 1.5rem;
}
@media only screen and (max-width: 800px) and (min-width: 501px) {
  body {
    background-image: url(/images/bg-header-desktop.png);
    margin: 3rem 0rem 0rem 0rem;
    font-size: 18px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .buttons button {
    margin-bottom: 1.3rem;
  }
  header {
    margin: 1rem;
    grid-template-rows: 0.5fr 1fr 0.6fr;
  }
  .part-one {
    grid-template-rows: 0.13fr 0.1fr;
    margin: 0;
    text-align: center;
    margin: 5rem;
  }
  .heading1 {
    grid-area: heading1;
    margin-left: 0;
  }

  .image-paragraphs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 0.2fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas: "image1" "paragraph1-1" "pargraph1-2" "paragraph1-3";
  }

  .image1 {
    grid-area: image1;
    margin-left: 0;
  }
  .part-one img {
    width: 100%;
  }

  .part-two {
    margin: 1rem;
  }
  .part-two img {
    width: 100%;
  }
  .part-three {
    grid-template-rows: 0.4fr 1fr 1fr;
    gap: 0px 0px;
    margin: 1rem;
  }

  .features {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "snippets" "blacklists" "preview";
  }

  .companies {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px 0px;
    grid-template-areas: "google" "ibm" "microsoft" "hpe" "vg";
  }

  .part-four {
    margin: 1rem;
  }
  .part-four button {
    margin-bottom: 1.3rem;
  }

  footer {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    text-align: center;
    grid-template-areas: "logo" "links" "social";
  }

  .links {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "faq" "contact" "privacy" "press" "install";
  }

  .social {
    grid-template-rows: 1fr;
    align-items: center;
    grid-template-areas: "fb twitter ig";
  }
}
ion-icon {
  margin-right: 1.5rem;
}

@media only screen and (max-width: 2000px) and (min-width: 1401px) {
  body {
    background-size: contain;
    font-size: 2em;
  }
  button {
    font-size: 1.2rem;
  }
}
